<!DOCTYPE html>
<html>
    <head>
        <title>Lanova Studio</title>
        <link rel="stylesheet" href="fashion.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
    <body>
       <span style="color:blue;font-weight:bold float:left;"><a href="index.html"/><b>HOME</b></a></span>
	
	
	<span style="color:blue;font-weight:bold float:left;"><a href="information.html"/><b>MORE INFO</b></a></span>


<span style="color:blue;font-weight:bold float:left;"><a href="fashion.css"/><b>FASHION</b></a></span><br>
        <div class="lanova-prd">
        <ul>
            <li class="Links"><i class="fa fa-home"></i><a href="home1.html"> Home </a></li>
            <li><a href="#"><i class="fa fa-user"></i> About Us </a>
                <div class="menu-1">
                    <ul>
                        <li><a href="#">Experience</a></li>
                        <li><a href="#">Vision</a></li>
                        <li><a href="#">Our Team</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#"><i class="fa fa-clone"></i> Services </a>
                <div class="menu-1">
                    <ul>
                        <li><a href="#">Indoor Photography</a></li>
                        <li><a href="#">Photoshoot</a></li>
                        <li><a href="#">Videography</a></li>
                        <li><a href="#">Photo Manipulation</a></li>
                        <li><a href="#">Block-Contained Photography</a></li>
                    </ul>
                </div>
            
            </li>
            <li><a href="#"><i class="fa fa-credit-card"></i> Pricing </a>
                <div class="menu-1">
                    <ul>
                        <li><a href="#">Videos [$500+]</a></li>
                        <li><a href="#">Extended Manipulation [$90]</a></li>
                        <li><a href="#">Photoshoot [$45]</a></li>
                        <li><a href="#">more</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#"><i class="fa fa-edit"></i> Training </a>
                <div class="menu-1">
                    <ul>
                        <li><a href="#">Beginners</a></li>
                        <li><a href="#">Intermediate</a></li>
                        <li><a href="#">Advanced</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#"><i class="fa fa-phone"></i> Contacts </a>
                <div class="menu-1">
                    <ul>
                        <li><a href="#">Phone</a></li>
                        <li><a href="#">Contact Us Via Online</a></li>
                        <li><a href="#">Support Team</a></li>
                    </ul>
                </div>
            </li>
            <li> <a href="lanovaLogIn.html"> <button type="submit">Log In</button> </a> 
            </li>
            </ul>
        </div>
        <h5 style="margin-top: -45px; text-align: left; margin-left: 12px; color: rgb(241, 183, 183);">LANOVA STUDIO</h5>
        <p><i class="fa fa-picture-o"></i> </p>
        <h1 style="text-align: center; color: white; margin-top: 90px; font-size: 72px;">LANOVA STUDIO</h1>
    </body>
    <div class="footer">
       <div class="footer-contents">
           
       </div>
        <div class="footer-bottom">
            &copy; LANOVA STUDIO 2021 | Designed by Aline H Ir
        </div>  
    </div>

	<span style="color:blue;font-weight:bold float:left;"><a href=" https://www.youtube.com/watch?v=z7VpRS6ssgk&t=59s"/><b>Watch fashion with kitenge styles</b></a></span>
</html>
